<!DOCTYPE html>
<html>

<head>
    <title>Paiement validé - Site trop bien</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div th:replace="header.html"></div>

    <div class="container">
        <div class="confirmation-message">
            <h1 class="text-success">Votre paiement a été validé !</h1>
            <p class="lead">Merci pour votre achat sur notre site.</p>
        </div>
    </div>

    <div th:replace="footer.html"></div>

</body>

</html>
