<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Liste des Produits</title>
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/stylesheet.css">
	<link rel="stylesheet" href="/css/produits.css">
</head>

<body>
	<div th:replace="header.html"></div>

	<div class="container mb-5">
		<h1 class="text-center">Liste des Produits</h1>

		<div class="row">
			<div th:each="product : ${products}" class="col-md-4">
				<div class="card mb-4">
					<img th:src="@{'/images/' + ${product.image}}" class="card-img-top product-image"
						alt="Product Image">
					<div class="card-body">
						<h5 th:text="${product.type}" class="card-title"></h5>
						<p th:text="'Prix: ' + ${product.prix}" class="card-text"></p>

						<form method="post" th:action="@{/ajouterCommande}">
							<input type="hidden" name="productId" th:value="${product.id}" />
							<label for="quantite" class="form-label">Quantité :</label>
							<input type="number" name="quantite" min="1" class="form-control mb-2" />
							<button type="submit" class="btn btn-primary">Ajouter au Panier</button>
						</form>

						<a th:href="@{'/produit-details/' + ${product.id}}" class="btn btn-info mt-2">Info</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="footer.html"></div>
</body>

</html>