<h1>Enregistrement produit</h1>

	<form th:action="@{/productregister}" th:object="${product}" method="post">
		
		<label for="type">Type :</label>
		<input type="text" id="type" name="type" th:field="*{type}" required>
		<br>
		
		<label for="couleur">Couleur :</label>
		<input type="text" id="couleur" name="couleur" th:field="*{couleur}" required>
		<br>

		<label for="taille">Taille :</label>
		<input type="text" id="taille" name="taille" th:field="*{taille}" required>
		<br>
		
		<label for="stock">Stock :</label>
		<input type="text" id="stock" name="stock" th:field="*{stock}" required>
		<br>

		<button type="submit">Enregistrer le produit</button>
	</form>